@import './cube';
@import './recorder';

html,body{
	background: url(/assets/images/space-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
.btn-primary{
	margin-left: .5em;
	text-decoration: none;
	background-color:rgba(0, 0, 0, 0.5);
	border: solid white .1em;
	padding-right: 1em;
	padding-left: 1em;
	color: white;
	height: 7.5%;
	transition: background-color .5s;
	border-radius: 0;
	width: 180px;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
	color: black;
	background-color: white;
	border: solid white .1em;
}
.icon-size{
	width: 16px;
	height: 16px;
}

.random-btn-label {
  margin-bottom: 0;
  color: white;
}
.modal-backdrop.in {
    z-index: -1;
}
.button-c{
	position: fixed;
 	right: 5%;
  top: 40%;
}