@import './cube';

h1 {
  color: red;
}
#container{
	z-index: 9999;
	background: url(/assets/images/space-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}