@import './cube';
@import './recorder';

body{
	z-index: 9999;
	background: url(/assets/images/space-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-primary{
	margin-left: .5em;
	text-decoration: none;
	background-color:rgba(0, 0, 0, 0.5);
	border: solid white .1em;
	padding-right: 1em;
	padding-left: 1em;
	color: white;
	height: 7.5%;
	transition: background-color .5s;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
	color: black;
	background-color: white;
	border: solid white .1em;
}

.random-btn-c {
  text-align: center;
}

.random-btn-label {
  margin-bottom: 0;
  color: white;
  font-family: cursive;
  font-size: 20px;
}

.random-btn {
  background-color: rebeccapurple;
  border: none;
  width: auto;
  height: auto;
  padding: 10px;
  &:hover {
    background-color: rgb(8, 202, 224);
    border: none;
  }
  img {
    width: 60px;
    height: auto;
  }
}